html { font: 62.5% tahoma, sans-serif; color: #666; }
body {}
h1 { font-family: 'Covered By Your Grace', arial, serif; font-size: 3em; line-height: 2em; }
h1 a { border: none 0; }
h1 a:hover { border: none 0; color: #999; }
footer { clear: both; padding: 10px 0; }
a { color: #999; text-decoration: none; border-bottom: solid 1px #ddd; }
a:visited { color: #999; }
a:hover { color: #f00; border-bottom: solid 1px #f00;  }

#Container { margin: 20px 50px; position: relative; }
#Canvases { float: left; position: relative; padding: 10px; border: solid 1px #efefef; margin: 0 1px 0 0; }
#PitchCanvas { z-index: 0; }
#GridCanvas { position: absolute; top: 10px; left: 10px; z-index: 1; }
#GameCanvas { position: absolute; top: 10px; left: 10px; z-index: 2; }

aside { float: left; width: 250px; font-size: 1em; }
aside section header { padding: 0 0 10px 0; border-bottom: solid 1px #efefef; text-transform: uppercase; line-height: 1em; display: block; margin: 0 0 10px; }
aside section { padding: 10px; clear: right; border: solid 1px #efefef; margin: 0 0 1px 0; }

aside article { border-bottom: solid 1px #efefef; margin: 0 0 10px; padding: 0 10px 10px; }
aside article p { line-height: 1.4em; margin: 0 0 10px;  }
aside article time { display: block; color: #999; }

#DebugControls {  }
#DebugControls label { display: block; padding: 0 10px 10px 10px; }
#DebugControls a { margin: 10px; display: inline-block; }

#DebugConsole { max-height: 200px; overflow: auto; }
#DebugConsole code { font-family: Courier, sans-serif; font-size: 1.2em; display: block; margin: 0 0 5px 5px; }
#DevNotes { max-height: 200px; overflow: auto; }

#GeneralInfo {}




