!!! 5
html(lang="en")
	include ../includes/head
	body
		div#Container
			include ../includes/header
				include ../includes/adminNavigation
			section#Admin.main
				h2 Admin Control Panel: Position
				h3 New Position
				form(action='/admin/position/new', method='post')
					label(for='name') position name
					input(name='name', placeholder='position name', autofocus, class='input-medium')
					label(for='race') race
					if (typeof(races) !== 'undefined' && races.length)
						select(name='race', class='input-medium')
							for race in races
								option(value=race.id) #{race.name}
					label(for='movement') movement
					input(name='movement', class='input-mini', type='number', min='2', max='9', value='6')
					label(for='strength') strength
					input(name='strength', class='input-mini', type='number', min='1', max='7', value='3')
					label(for='agility') agility
					input(name='agility', class='input-mini', type='number', min='1', max='4', value='3')
					label(for='armour') armour
					input(name='armour', class='input-mini', type='number', min='6', max='10', value='8')
					label(for='cost') cost
					input(name='cost', class='input-small', type='number', min='10000', max='160000', step='10000', value='50000')
					label(for='quantity') max quantity
					input(name='quantity', class='input-mini', type='number', min='1', max='16', value='16')
					fieldset
						legend default skills
							if (typeof(skills) !== 'undefined')
								each skill, key in skills
									label.checkbox
										input(type='checkbox', value='#{key}', name='skills')
										|#{skill.label}
					fieldset
						legend skills permitted
						label(for='generalSkills') general
						select(name='generalSkills', class='input-small')
							option(value='0') n/a
							option(value='1', selected) normal
							option(value='2') rare
						label(for='agilitySkills') agility
						select(name='agilitySkills', class='input-small')
							option(value='0') n/a
							option(value='1') normal
							option(value='2', selected) rare
						label(for='strengthSkills') strength
						select(name='strengthSkills', class='input-small')
							option(value='0') n/a
							option(value='1') normal
							option(value='2', selected) rare
						label(for='passingSkills') passing
						select(name='passingSkills', class='input-small')
							option(value='0') n/a
							option(value='1') normal
							option(value='2', selected) rare
						label(for='mutationSkills') mutation
						select(name='mutationSkills', class='input-small')
							option(value='0', selected) n/a
							option(value='1') normal
							option(value='2') rare
					label(for='submit') save position
					input(name='submit', type='submit', class='btn')
					a(href='/admin/position/', class='btn') cancel

			include ../includes/footer