!!! 5
html(lang="en")
	include ../includes/head
	body
		div#Container
			include ../includes/header
				include ../includes/adminNavigation
			section#Admin.main
				h2 Admin Control Panel: Positions
					if (typeof(positions) !== 'undefined')
						h3 Positions
						if (positions.length)
							form(action='admin/position/edit', method='post')
								select#positions
									for position in positions
										option(value=position.id) #{position.raceName} #{position.name}
								label(for='submit') edit position
								input(name='submit', type='submit')
						else
							p No positions
						a(href='/admin/position/new') Create new position


			include ../includes/footer