!!! 5
html(lang="en")
	include ../includes/head
	body
		div#Container
			include ../includes/header
				include ../includes/adminNavigation
			section#Admin.main
				h2 Admin Control Panel: Skills

				if (typeof(skills) !== 'undefined')
					h3 Skills
					if (skills.length)
						ul#skills
							for skill in skills
								li
									a(href='/skill/#{skill.id}') #{skill.name}
					else
						p No skills
					form(action='/skill/new', method='post')
						label(for='skill') skill name
						input(name='skill', placeholder='skill name')

						label(for='submit') save skill
						input(name='submit', type='submit')

			include ../includes/footer