!!! 5
html(lang="en")
    include ../includes/head
    body
        div#Container
            include ../includes/header
                include ../includes/adminNavigation
            section#Admin.main
                h2 Admin Control Panel: Users

                if (typeof(users) !== 'undefined')
                    h3 Users
                    if (users.length)
                        select#User
                            for user in users
                                option(value=user.id) #{user.username}
                    else
                        p No users
                    form(action='/user/new', method='post')
                        label(for='username') username
                        input(name='username', placeholder='username')
                        label(for='password') password
                        input(name='password', placeholder='password')
                        label(for='email') email
                        input(name='email', placeholder='email')
                        label(for='submit') save user
                        input(name='submit', type='submit')

            include ../includes/footer
