table.table.table-bordered
	tr
		td
		td
		td
		td
		td
		td
		td
		td
		td
		td
		td
		td
	tr
		td
		td
		td
		td
		td
		td
		td
		td
		td
		td
		td
		td
	tr
		td
		td
		td
		td
		td
		td
		td
		td
		td
		td
		td
		td

