footer
	p
		|Powered by 
		a(href="http://jquery.com/") jQuery
		|,
		a(href="http://www.modernizr.com") Modernizr
		|, 
		a(href="http://www.google.com/webfont") Google Web Fonts
		|, 
		a(href="http://github.com") Github
		|, 
		a(href="http://easeljs.com") EaselJS
		|, 
		a(href="http://requirejs.org") RequireJS
		|, 
		a(href="http://46dogs.blogspot.com/2009/10/star-pathroute-finding-javascript-code.html") A*Star
		|, 
		a(href="http://pivotal.github.com/jasmine/") Jasmine
		|, 
		a(href="http://documentcloud.github.com/underscore/") Underscore
		|, 
		a(href="http://nodejs.org/") Node
		|, 
		a(href="http://expressjs.com") Express
		|, 
		a(href="http://couchdb.apache.org/") CouchDB