footer
	include navigation
	article.thirdParty
		span Powered by:
		ul
			li
				a(href="http://jquery.com/") jQuery
			li
				a(href="http://www.modernizr.com") Modernizr
			li
				a(href="http://www.google.com/webfont") Google Web Fonts
			li
				a(href="http://github.com") Github
			li
				a(href="http://easeljs.com") EaselJS
			li
				a(href="http://requirejs.org") RequireJS
			li
				a(href="http://46dogs.blogspot.com/2009/10/star-pathroute-finding-javascript-code.html") A*Star
			li
				a(href="http://pivotal.github.com/jasmine/") Jasmine
			li
				a(href="http://documentcloud.github.com/underscore/") Underscore
			li
				a(href="http://nodejs.org/") Node
			li
				a(href="http://expressjs.com") Express
			li
				a(href="http://couchdb.apache.org/") CouchDB