head
	meta(charset="utf-8")
	title!= title
	link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Covered+By+Your+Grace&v1")
	link(rel="stylesheet", href="/css/bootstrap.min.css", media="screen")
	link(rel="stylesheet", href="/css/bbn.css", media="screen")
	link(rel="icon", type="image/png", href="/img/favicon.png")
	script(src="/js/lib/require.js", data-main="/js/bbn")
