header
	h1
		a(href="http://bloodbowlnation.industrialnation.co.uk") BloodBowlNation
	p v130203
	include navigation
	section.login
		- if (typeof(user) != 'undefined')
			span= 'user: ' + user.username