header
	h1
		a(href="http://bloodbowlnation.industrialnation.co.uk") BloodBowlNation
	h2 v120809
	include navigation
	section.login
		- if (typeof(user) != 'undefined')
			span= 'user: ' + user.username