nav
	ul.nav.nav-pills
		li
			a(href="/") home
		li
			a(href="/game") game
		li
			a(href="/team") team
		li
			a(href="/about") about
		- if ((typeof(user) !== 'undefined') && (user.username === 'admin'))
			li
				a(href='/admin') admin
		li
			- if (typeof(user) !== 'undefined')
				a(href='/logout') logout
			- else
				a(href= '/login') login
	yield
