head
	meta(charset="utf-8")
	title!= title
	link(rel="stylesheet", href="../js/lib/jasmine-1.2.0/jasmine.css")
	link(rel="icon", type="image/png", href="../js/lib/jasmine-1.2.0/jasmine_favicon.png")
	script(type="text/javascript", src="../js/lib/require.js")
	script(type="text/javascript", src="../js/test/setup.js")

