!!! 5
html(lang="en")
	include includes/header
	body
		div#Container
			header
				h1
					a(href="http://bloodbowlnation.industrialnation.co.uk") BloodBowlNation
				h2 v120809
			section#Main
				h3 About
				p Something about something.
			include includes/footer