!!! 5
html(lang="en")
    include includes/head
    body
        div#Container
            include includes/header
            section#Main
                h2 Game
                if (typeof(game) !== 'undefined')
                    h3
                        |#{game.name} 
                        if (typeof(game.hostTeam) !== 'undefined')
                          | #{game.hostTeam.name} 
                        if (typeof(game.clientTeam) !== 'undefined')
                          | /- #{game.clientTeam.name}
                    canvas(width="400", height="600") 
                else
                    p Game doesn't exist
            include includes/footer
