!!! 5
html(lang="en")
	include includes/head
	body
		div#Container
			include includes/header
			section#Main
				h2 Index
				article
					p
						|Based on
						a(href="http://www.games-workshop.com/") Games Workshop's
						a(href="http://www.games-workshop.com/gws/catalog/landingArmy.jsp?catId=cat480004a&rootCatGameStyle=specialist-games") Blood Bowl
					p
						|Github:
						a(href="https://github.com/philpill/BloodBowlNation") Source
					p
						|Blood Bowl:
						a(href="http://www.bloodbowlonline.com/LivingRulebook5.pdf") Living Rulebook v5
					p
						|Unit tests:
						a(href="test") test
					p
						|Questions/comments: bbn@philpill.net
			include includes/footer