!!! 5
html(lang="en")
	include includes/head
	body
		div#Container
			include includes/header
			section#Password.main
				h3 Login

				form(action='/login', method='post')
					#Login
						label(for='username') Username
						input(name='username', type='text')
					#Password
						label(for='password') Password
						input(name='password', type='password')
					#Submit
						input(type='submit', value='Login')

			include includes/footer