!!! 5
html(lang="en")
	include includes/header
	body
		div#Container
			header
				h1
					a(href="http://bloodbowlnation.industrialnation.co.uk") BloodBowlNation
				h2 v120809
			section#Password.main
				h3 Login
				label(for="Username") username
				input(type="text", id="Username")
				label(for="Password") password
				input(type="password", id="Password")
				button(id="Login") login
			include includes/footer