!!! 5
html(lang='en')
	include includes/head
	body
		div#Container
			include includes/header
			section#Main
				h2 #{team.name}: New Player
				form(action='/team/#{team.id}/player/new', method='post')
					label(for='playerName') name
					input(type='text', name='playerName', placeholder='player name')
					label(for='positionId') position
					if (typeof(positions) !== 'undefined')
						select(name='positionId')
							if (positions.length)
								for position in positions
									option(value='#{position.id}') #{position.name}
					label create position
					input(type='submit') create
			include includes/footer