!!! 5
html(lang='en')
	include includes/head
	body
		div#Container
			include includes/header
			section#Main
				h2 New Team
				form(action='/team/new', method='post')
					label(for="teamName") name
					input(type="text", name="teamName", placeholder='team name')
					label(for="race") race
					select(name="race")
						option(value="human") Human
						option(value="orc") Orc
					label create team
					input(type='submit') create
			include includes/footer