!!! 5
html(lang='en')
	include includes/head
	body
		div#Container
			include includes/header
			section#Main
				h2 New Team
				form(action='/team/new', method='post')
					label(for="teamName") name
					input(type="text", name="teamName", placeholder='team name', autofocus)
					label(for="race") race
					- if (races)
						select(name="race")
							- if (races.length)
								- for race in races
									option(value=race.id) #{race.name}
					label create team
					input.btn(name='submit', type='submit')
					a.btn(href='/team/') cancel
			include includes/footer
		include includes/js
