!!! 5
html(lang='en')
	include includes/head
	body
		div#Container
			include includes/header
			section#Main
				h2 New Team
				form(action='/team/new', method='post')
					label(for="teamName") name
					input(type="text", name="teamName", placeholder='team name')
					label(for="race") race
					- if (races)
						select#Races
							- if (races.length)
								- for race in races
									option(value=race.id) #{race.name}
					label create team
					input(type='submit') create
			include includes/footer