!!! 5
html(lang="en")
	include includes/head
	body
		div#Container
			include includes/header
			section#Password.main
				h2 Register
				label(for="Username") username
				input(type="text", id="Username")
				label(for="Password") password
				input(type="password", id="Password")
				button(id="Register") register
			include includes/footer