!!! 5
html(lang="en")
	include includes/head
	body
		div#Container
			include includes/header
			section#Main
				h2 Teams
				if (typeof(user) != 'undefined')
					ul.teams
					if (user.teams.length)
						for team in user.teams
							li
								a(href="/team/#{team.id}") #{team.name}
					else
						p You have no teams!
					a(class="create", href="/team/new") Create new team
				else
					p You are not logged in!
					a(href="/login") login
			include includes/footer
		include includes/js
