!!! 5
html(lang="en")
	include includes/head
	body
		div#Container
			include includes/header
			section#Main
				h3 Teams
				ul.teams
				for team in teams
					a(href="#")
						li #{team.name}
				a(class="create", href="/team/create") Create new team
			include includes/footer