!!! 5
html(lang="en")
	include includes/head
	body
		div#Container
			include includes/header
			section#Main
				if (team)
					h3 #{team.name}
					h4 players
					ul.players
					for player in players
						li
							a(href='/player/' + player.id) #{player.name}
					a.createPlayer(href='/team/#{team.id}/player/new/') add new player
				else
					p Team not found!
			include includes/footer