#Container {
  margin: 5px;
  border: solid 1px #efefef;
  padding: 5px; }

#Main {
  border: solid 1px #efefef;
  padding: 5px;
  margin: 5px; }

header {
  border: solid 1px #efefef;
  padding: 5px;
  margin: 5px;
  background: #efefef; }
  header h1 {
    display: inline-block;
    font-family: "Covered By Your Grace"; }
  header p {
    display: inline-block; }

footer {
  border: solid 1px #efefef;
  padding: 5px;
  margin: 5px;
  background: #efefef; }
  footer .thirdParty {
    font-size: 75%; }
    footer .thirdParty li {
      display: inline-block;
      padding: 5px 5px; }
