#Main {
  border: solid 1px #efefef;
  padding: 5px;
  margin: 5px; }

header {
  border: solid 1px #efefef;
  padding: 5px;
  margin: 5px; }
  header h1 {
    font-family: "Covered By Your Grace"; }

footer {
  border: solid 1px #efefef;
  padding: 5px;
  margin: 5px; }
  footer .thirdParty {
    font-size: 75%; }
    footer .thirdParty li {
      display: inline-block;
      padding: 5px 5px; }

#Stadium {
  border: solid 1px black;
  position: relative;
  height: 310px;
  width: 530px; }
  #Stadium #Field {
    width: 520px;
    height: 300px;
    position: absolute;
    top: 5px;
    left: 5px;
    opacity: 0.1;
    background: #0f0; }
  #Stadium #Grid {
    top: 5px;
    left: 5px;
    position: absolute;
    width: 521px;
    height: 301px;
    background: url(data:image/gif;base64,R0lGODlhFAAUAIAAAMDAwP///yH5BAEAAAEALAAAAAAUABQAAAImhI+pwe3vAJxQ0hssnnq/7jVgmJGfGaGiyoyh68GbjNGXTeEcGxQAOw==); }
    #Stadium #Grid .line {
      position: absolute;
      background: #666; }
    #Stadium #Grid .gutter {
      height: 1px;
      width: 520px; }
    #Stadium #Grid .left {
      top: 80px;
      left: 0; }
    #Stadium #Grid .right {
      top: 220px;
      left: 0; }
    #Stadium #Grid .zone {
      height: 300px;
      width: 1px; }
    #Stadium #Grid .home {
      top: 0;
      left: 20px; }
    #Stadium #Grid .away {
      top: 0;
      left: 500px; }
    #Stadium #Grid .mid {
      top: 0;
      left: 260px; }
